* {
    overflow: hidden;
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: rgb(80, 50, 0);
    color: #dddddd;
    position: absolute;
    margin: 16px 16px 16px 16px;
    height: calc(100% - 32px);
    width: calc(100% - 32px);
}

input[type="text"],
input[type="number"] {
    width: 100%;
    background-color: black;
    color: inherit;
}

hr,
#containerWorld {
    border-color: rgb(165, 104, 0);
}

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(165, 104, 0);
    background-color: rgb(119, 75, 0);
}

.panel#containerInventory {
    border: none;
    box-shadow: 0 0 0 1px rgb(165, 104, 0) inset;
}

.progress-bar-outer {
    background-color: rgb(35, 22, 0);
    border: 1px solid rgb(165, 104, 0); 
}

#containerProgressRarityChance .progress-bar,
#progressBattleMaxSubWaveCurrentZone.progress-bar {
    border-right: 2px dotted rgb(165, 104, 0);
}

hr {
    border-width: 1px;
}

#containerWorld {
    border-style: solid;
    border-width: 3px;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.body-performance-low * {
    transition: none !important;
}

button {
    font-size:inherit;
    cursor:pointer;
}

button:hover {
    opacity:0.9;
}

button,
.button-c-default {
    border-color: rgb(80, 50, 0);
    background-color: rgb(165, 104, 0);
}

.button-c-red {
    background-color: #d22;
    border-color: #622;
}

.button-c-yellow {
    background-color: rgb(218, 221, 34);
    border-color: rgb(116, 117, 20);
}

.text-outline
 {
	text-shadow:
	 -1px -1px 0 #000,  
	  1px -1px 0 #000,
	 -1px 1px 0 #000,
      1px 1px 0 #000;
      
    color: white;
}

#containerMenus {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    height:100%;
    z-index:10000;
    pointer-events: none;
}

.chat-line {
    line-height:23px;
}

.item {
    background-color: rgb(30, 30, 30);
    border:2px solid gray;
    cursor:pointer;

    position: relative;
    width: calc(4.615vw - 6px);
    height: calc(4.615vw - 6px);
    margin: 3px 3px 3px 3px;
    text-align: center;
    font-size: 0.8vw;
}

.item-0,
.item-slot-weapon {
    border-radius:1vw;
}

.item * {
    pointer-events:none;
    z-index:3;
}

.item-slot {
    border:1px solid gray;
    position: relative;
    width: calc(4.615vw - 6px);
    height: calc(4.615vw - 6px);
}

.item-slot .item {
    border: 0;
    margin: 0;
}

.item-attack-progress,
.enemy-attack-progress {
    z-index:1;
    background-color:rgba(255, 0, 0, 0.5);
    transform: translateX(-100%);
    transition: transform 0.1s ease-out;
}

.item-regen-progress {
    z-index:1;
    background-color:rgba(0, 0, 255, 0.5);
    transform: translateX(-100%);
    transition: transform 0.1s ease-out;
}

.item-attack-progress,
.item-regen-progress {
    height:40%;
    bottom:0;
}


.enemy-attack-progress {
    background-color:rgb(60, 60, 60);
    bottom:0;
    height:20%;
}

.item-equipped-true {
    box-shadow: inset 0 0 1.3vw lime;
}

.progress-bar-outer {
    position:relative;
    width:100%;
    height:20px;
    text-align: center;
}

.progress-bar {
    position:absolute;
    width:100%;
    height:100%;
    background-color:#cc3333;
    transition: transform 0.5s ease-out;
}

.progress-bar-text:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.progress-bar-text {
    position:absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
}

.enemy {
    position:absolute;
}

.loot {
    position:absolute;
}

.menu {
    overflow-y: auto;
    position:absolute;
    width:20vw;
    height:10vw;
    top:0;
    left:0;

    background-color:#1b1b1b;
    border: 2px solid #4a4a4a;

    font-size: 0.95vw;

    pointer-events: all;
}

.menu-header {
    position:absolute;

    width:100%;
    height:1.5vw;
    line-height:1.5vw;
    top:0;
    right:0;

    background-color:#080808;

    text-align:center;

    z-index:101;
}

.menu-x {
    position:absolute;

    width:1.5vw;
    height:1.5vw;
    line-height:1.5vw;
    top:0;
    right:0;

    text-align:center;
    font-size:1.2vw;

    cursor:pointer;

    z-index:102;
}

.menu-x:hover {
    font-size:1.5vw;
}

.menu-content {
    position: relative;

    width:100%;

    text-align: center;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}

.item-rarity-0                  { border-color: rgb(180, 180, 180); }
.item-rarity-0>div:first-child  { background-color: rgb(130, 130, 130); }
.item-rarity-1                  { border-color: rgb(15, 180, 15); }
.item-rarity-1>div:first-child  { background-color: rgb(15, 130, 15); }
.item-rarity-2                  { border-color: rgb(40, 40, 180); }
.item-rarity-2>div:first-child  { background-color: rgb(40, 40, 130); }
.item-rarity-3                  { border-color: rgb(200, 50, 200); }
.item-rarity-3>div:first-child  { background-color: rgb(130, 15, 130); }
.item-rarity-4                  { border-color: rgb(200, 200, 15); }
.item-rarity-4>div:first-child  { background-color: rgb(130, 130, 15); }
.item-rarity-5                  { border-color: rgb(200, 15, 15); }
.item-rarity-5>div:first-child  { background-color: rgb(130, 15, 15); }
.item-rarity-6                  { border-color: rgb(15, 200, 200); }
.item-rarity-6>div:first-child  { background-color: rgb(15, 130, 130); }
.item-rarity-7                  { border-color: rgb(15, 15, 15); }
.item-rarity-7>div:first-child  { background-color: rgb(0, 0, 0); }

.item-rarity-8                  { border-color: rgb(180, 180, 180); }
.item-rarity-8>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(15, 130, 15)); }
.item-rarity-9                  { border-color: rgb(180, 180, 180); }
.item-rarity-9>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(40, 40, 130)); }
.item-rarity-10                  { border-color: rgb(180, 180, 180); }
.item-rarity-10>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(130, 15, 130)); }
.item-rarity-11                  { border-color: rgb(180, 180, 180); }
.item-rarity-11>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(130, 130, 15)); }
.item-rarity-12                  { border-color: rgb(180, 180, 180); }
.item-rarity-12>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(130, 15, 15)); }
.item-rarity-13                  { border-color: rgb(180, 180, 180); }
.item-rarity-13>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(15, 130, 130)); }
.item-rarity-14                  { border-color: rgb(180, 180, 180); }
.item-rarity-14>div:first-child  { background: linear-gradient(rgb(130, 130, 130), rgb(0, 0, 0)); }

.c-white {
    color: #dddddd
}

.c-gray {
    color: #888888
}

.c-orange {
    color: #dd8822
}

.c-red {
    color: #dd2222
}

.c-green {
    color: #44bb44
}

.bg-green {
    background-color: #44bb44
}

.bg-purple {
    background-color: #7B00FF
}

.bg-orange {
    background-color:rgb(211, 141, 12);
}

.bg-yellow {
    background-color:rgb(122, 122, 38);
}

.bg-teal {
    background-color: rgb(0, 162, 156)
}

.bg-red {
    background-color: rgb(200, 30, 30);
}

.bg-str {
    background-color: rgb(230, 30, 30);
}

.bg-def {
    background-color: rgb(0, 170, 200);
}

.bg-agi {
    background-color: rgb(0, 200, 0);
}

.bg-damage {
    background-color:#dd222280;
}

.bg-health {
    background-color:rgba(0, 150, 196, 0.5);
}

.bg-damagespeed {
    background-color: #44bb4480;
}

.bg-reach {
    background-color: #88888880;
}

.bg-regen {
    background-color: rgb(157, 0, 189);
}

.bg-regenspeed {
    background-color: #44bb44;
}

.icon-str::before {
    content: "STR";
    color: rgb(230, 30, 30);
}
.icon-def::before {
    content: "DEF";
    color: rgb(0, 170, 200);
}
.icon-agi::before {
    content: "AGI";
    color: rgb(0, 200, 0);
}
.icon-all::before {
    content: "ALL";
}
.icon-damage::before {
    content: "⚔";
    color: #dd2222;
}
.icon-health::before {
    content: "☗";
    color: rgb(0, 150, 196);
}
.icon-damagespeed::before {
    content: "»";
    color: #44bb44;
}
.icon-reach::before {
    content: "☇";
    color: #888888;
}
.icon-gold::before {
    content: "💰";
    color: #dd8822;
}
.icon-regen::before {
    content: "💧";
    color: rgb(157, 0, 189);
}
.icon-regenspeed::before {
    content: "»";
    color: #44bb44;
}

#containerLog * {
    user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
}

#containerProgressRarityChance {
    cursor: pointer;
}

#progressBattleMaxSubWaveCurrentZone.progress-bar {
    background-color: transparent;
}